;;;

"layout": "public",
"title": "About Us",
"right_title": "", 
"activeclass": "about",
"subtitle": "About the PMP Exam",
"subnav_data": "about_subnav"

;;;

=partial"/public/shared/page-head-small"


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
			