ul.nav-pills{
	border-bottom:1px solid $gray-color;
	li{
		font-size:.7em;
		&.active{
			a{
				background:none;
				border-bottom:3px solid $primary-color;
				color:$primary-color;
				&:hover{
					background:none;
					color:$primary-color;
					border-bottom:3px solid $primary-color;
				}
			}
		}
		a{
			color:$text-color;
			border-radius:0;
			@include transition-duration(.1s);
			&:hover{
				border-bottom:3px solid $gray-color;
				background:none;
				color:$primary-color;
			}
		}
	}
}

#mobile-main-nav{
	background:white;
	.logo-sm{
	  background:url(../images/logo_sm.png) no-repeat;
	  padding:0;
	  display:block;
	  background-size:100%;
	  width: 130px;
	  height: 25px;
	  top:15px;
	  margin-left:20px;
	  position:relative;
  }
	ul{
		li{
			font-size:.7em;
			.btn{
				margin:0 10px;
				color:white;
				&.btn-success{
					&:hover{
						background:$green-color;
					}
				}
			}
		}
	}
	ul.mobile-subnav{
		li{
			a{
				color:$link-color;
				font-family:$extra-bold-font-name;
			}
		}
	}
	.navbar-toggle{
		border:none;
	}
}

ul.nav-sidebar{
	list-style:none;
	margin-top:$baseline;
	li{
		font-size:.7em;
		line-height:13px;
		margin-bottom:$baseline/2;

		a{
			width:100%;
			display:block;
			padding-left:5px;
		}
		&.active{
			a{
				color:shade($link-color,60%);	
				background:#f2f2f2;			
			}

		}
	}
}