.panel{
	border:1px solid $gray-color;
	&.filled{
		background:#f2f2f2;
	}
	.panel-heading{
		background:white;
		h4{
			font-family:$regular-font-name;
		}
		&.primary-color{
			background:tint($primary-color,20%);
			@extend .white-text;
		}
	}
	p{
		margin-bottom:0;
	}
}

.small-panels{
	.panel-heading{
		padding:3px;
		padding-left:$baseline/2;
		h4{
			font-size:1em;
			a{
				&:before{
					content:"▼";
					font-size:.8em;
					color:$link-color;
				}
			}
		}
	}
}

.well{
	&.primary-color{
		background:tint($primary-color,20%);
		@extend .white-text;
	}
}