//lg
@media (max-width: 1200px) {

  

}

//md

@media (max-width: 992px) {

	#main-nav{
		ul.main-links{
			li{
				font-size:.7em;
				margin-right:0;
			}
		}
		ul.sub-links{
			li{
				font-size:.5em;
			}
		}
		.btn{
			font-size:.6em;
			padding:$baseline/4 $baseline/2;
			.fa{
				display:none;
			}
		}
	}


	.btn{
		font-size:.8em;
		}
	ul.nav-pills{
		li{
			font-size:.65em;
		}
	}


}

//sm

@media (max-width: 767px) {


.no-margin-top-sm{
		margin-top:0!important;
	}

.logo{
  background:url(../images/logo_sm.png);
  width: 185px;
  height:36px;
  display:block;
}

.btn{
	font-size:.7em;
		&.btn-lg{
			padding:$baseline/2;
		}
	}

	body{
	padding-top: 50px;
	}

	section{
		padding:$baseline 0;
	}

	h1{
		font-size:1.5em;
		line-height:$baseline*1.4;
	}
	h2{
		font-size:1.2em;
		line-height:$baseline*1.2;
	}
	p{
		font-size:.8em;
	}

	ul.nav-pills{
		border-bottom:none;
		li{
			font-size:.6em;
			a{
				padding:10px;
			}
			&.active{
				a{
					padding:10px;
					border:none;
					&:hover{
						border:none;
					}
				}
			}
			&:hover{
				a{
					border:none;
				}
			}
		}
	}

	ol.carousel-indicators{
		text-align:center!important;
	}


}

//xs

@media (max-width: 320px) {

	


}