//sections

section{
  padding:$baseline*2 0;
  &.invert-section{
    background-color:$primary-color;
    h1,h2,h3,h4,h5,h6,p,li,small{
      color:white;
    }
  }
  &.get-started{
  	background:$primary-color url(../images/bg_get_started.png);
  	@include background-size(cover);
    padding:$baseline*4 0;
  }
  &.bootcamp-curriculum{
    .well{
      background:white;
      border:none;
      box-shadow:none;
    }
  }
  &.page-header-section{
    padding:$baseline 0;
  }
  &.off-white{
    background-color:#fafafa;
  }
  &.feature-blocks{
    .fa{
      font-size:4em;
      color:#bbb;
      margin-bottom:$baseline;
    }
    .col-sm-3{
      text-align:right;
    }
    p{
      font-size:.65em;
      line-height:2em;
    }
    h4{
      font-size:.8em;
      margin-bottom:$baseline/2;
    }
  }
}