;;;

"layout": "modal_small"
  
;;;



.padded
	.modal-header
		%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button", :style=>"left:10px; bottom:20px;"} ×
		%h3.modal-title 
			Live Online PMP Class (Tues / Thurs Evenings)
	.modal-body
		.row
			.col-lg-6
				%p.half-margin-bottom
					%strong	
						Included with your class enrollment:
				%ul.list-default
					%li
						Live online class taught by PMI R.E.P.
					%li
						Exam pass guarantee
					%li
						All PMP courseware and study materials
					%li
						PMTraining Online exam prep system
					%li
						Focused PMP certification curriculum 
					%li
						35 PMI Contact Hours included with course
			.col-lg-6	
				.well
					%p.no-margin-bottom.micro-text.half-margin-bottom
						%strong
							Enroll in this Class
					%p.no-margin-bottom.micro-text
						%br
						Class Time: 8PM to 10PM (EST) 
						%br
						Class Days: Tues / Thurs Evenings 
						%br
						Class Dates: Tuesday, Jul 08 - Thursday, Aug 21 
						%br
						Class Price: $1299.00 $894.00 (USD)
				=image_tag'pmi_logo.png',:class=>"margin-bottom" 
		.row
			.col-lg-12
				%a.btn.btn-success.btn-block.margin-bottom.btn-lg{:hrev=>"/public/checkout"}   
					Enroll Now 
				%p.micro-text.quarter-margin-bottom
					%strong
						Delivered over six weeks, two evenings a week (Tuesdays and Thursdays) for two hours per session!
				%p.micro-text 
					Guaranteed to Pass, 35 contact hours included, Course guide, exam application guidance, Online training system included, and much more. Instant email confirmation and instructor follow-up within 1 business day. Experienced Instructor and Project Manager Lee Cooper (PMP, CKM, ITIL) will be conducting this class online. Access software and dial-in provided. 
