%footer
	.container
		.row
			.col-sm-3
				=image_tag'logo_no_tag.png'
				%p
					%small
						© 
						%a{:href=>"http://ssilogic.com/"}
							SSILogic 
						2014
			.col-sm-2
				%a
					Ummmmm
