%footer
	.container
		.row
			.col-sm-3
				=image_tag'logo_no_tag.png'
				%p
					%small
						© 
						%a{:href=>"http://ssilogic.com/"}
							SSILogic 
						2014
			.col-sm-2
				%h6.half-margin-bottom
					about
				%ul.list-unstyled
					%li
						%a{:href=>"#"}
							Newsletter 
					%li
						%a{:href=>"#"}
							About Us 
			.col-sm-3
				%h6.half-margin-bottom
					more info
				%ul.list-unstyled
					%li
						%a{:href=>"#"}
							Disclaimer   
					%li
						%a{:href=>"#"}
							PMI-ACP Exam Prep
					%li
						%a{:href=>"#"}
							PMTraining Affiliate Program 
			.col-sm-2
				%h6.half-margin-bottom
					exams
				%ul.list-unstyled
					%li
						%a{:href=>"#"}
							CISSP Practice Exams  
					%li
						%a{:href=>"#"}
							PMP Practice Exams 
					%li
						%a{:href=>"#"}
							ITIL Practice Exams 
			.col-sm-2
				%h6.half-margin-bottom
					contact
				%ul.list-unstyled
					%li
						%a{:href=>"#"}
							Contact Us 
					%li.social-links
						%a.social-font-name.facebook{:href=>"#"}F
						%a.social-font-name.twitter{:href=>"#"}T
						%a.social-font-name.linkedin{:href=>"#"}I
