=partial"/public/shared/navbar-mobile"
#hidden-menu.main-nav.hidden-xs
	.container
		=partial"/public/header/main-nav-container" 
%header.main-nav.hidden-xs
	.container
		.row.margin-bottom
			.col-lg-12
				.pull-left
					%a.logo{:href=>"/"}
				%nav.pull-right
					%ul.list-inline.sub-links
						%li
							%a{:href=>"/public/about-the-pmp-exam"}
								PMP Exam Updates 
						%li
							%a{:href=>"/public/login"}
								Member Login 
						%li
							%a{:href=>"/public/about/contact"}
								Contact & Support
		.row
			.col-lg-12
				=partial"/public/header/main-nav-container"                     



