=partial"/public/shared/navbar-mobile"
%header#main-nav.hidden-xs
	.container
		.row.margin-bottom
			.col-lg-12
				.pull-left
					%a.logo{:href=>"/"}
				%nav.pull-right
					%ul.list-inline.sub-links
						%li
							%a{:href=>"#"}
								PMP Exam Updates 
						%li
							%a{:href=>"#"}
								Member Login 
						%li
							%a{:href=>"#"}
								Contact & Support
		.row
			.col-lg-12
				%nav.pull-left
					%ul.list-inline.main-links
						%li{:class => (current_page.data.activeclass === "home") ? "active" : ""}
							%a{:href=>"/"}
								Home 
						%li{:class => (current_page.data.activeclass === "practice") ? "active" : ""}
							%a{:href=>"#"}
								PMP Practice Exams
						%li{:class => (current_page.data.activeclass === "live") ? "active" : ""}
							%a{:href=>"/public/live-pmp"}
								Live PMP Classes
						%li{:class => (current_page.data.activeclass === "bootcamp") ? "active" : ""}
							%a{:href=>"#"}
								PMP Bootcamp 
						%li{:class => (current_page.data.activeclass === "about" ) ? "active" : ""}
							%a.dropdown-toggle#dropdownMenu1.dropdown-hover{:href=>"#", "data-toggle"=>"dropdown"}
								About
								%span.caret
								%ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"dropdownMenu1"}
									%li
										%a{:href=>"#"}
											Who we are
									%li
										%a{:href=>"#"}
											About the PMP exam
									%li
										%a{:href=>"#"}
											Our books and website
									%li
										%a{:href=>"#"}
											PMP articles
									%li
										%a{:href=>"#"}
											Contact
									%li
										%a{:href=>"#"}
											Get our newsletter
						%li{:class => (current_page.data.activeclass === "training") ? "active" : ""}
							%a{:href=>"#"}
								Corporate Training    
				%nav.pull-right
					%a.btn.btn-success{:href=>"#"}
						%i.fa.fa-shopping-cart
						Checkout                          



