%table.table.table-responsive
  %tbody
    %thead
      %tr
        %th.info{:style=>"width:20%;"}
          Item
        %th.info
          Description
        %th.info
          Cost
        %th.info{:style=>"width:15%;"}
    -4.times do
      %tr
        %td
          %strong
            PMP Practice Exams 
          =image_tag'public/Thumbnail.jpg', :class=>"img-responsive"
        %td
          Unlimited 90-day access to exceptionally realistic PMP practice exams; 1,000+ realistic exam questions, including 21 condensed PMP mock exams; 10 PMBOK tests; personalized reporting, and more
        %td
          %strong
            $59.00
        %td.text-center
          %a.text-danger.link-underline{:href=>"#"}
            Remove

         