#main-nav{
	padding:$baseline 0;
	border-bottom:1px solid $gray-color;
	ul.sub-links{
		li{
			font-size:.6em;
			font-family:$extra-bold-font-name;
			padding-right:0px;
			&:after{
				content:"|";
			}
			&:last-of-type{
					&:after{
					content:"";
				}
			}
		}
	}
	ul.main-links{
		li{
			font-family:$medium-font-name;
			font-size:.8em;
			margin-right:$baseline/2;
			a{
				color:$text-color;
				@include transition-duration(.1s);
				&:hover, &:focus{
					color:$link-color;
					text-decoration:none;
				}
			}
			&.active{
				a{
					color:black;
				}
			}
		}
		.dropdown-menu{
			li{
				margin-right:0;
				font-size:.9em;
			}
		}
	}
	.btn{
		padding:$baseline/4 $baseline;
	}
}