.main-nav{
	padding:$baseline 0;
	padding-bottom:0;
	border-bottom:1px solid $gray-color;
	ul.sub-links{
		li{
			font-size:.65em;
			font-family:$extra-bold-font-name;
			padding-right:0px;
			margin-top:14px;
			&:after{
				content:"|";
			}
			&:last-of-type{
					&:after{
					content:"";
				}
			}
		}
	}
	ul.main-links{
		margin-bottom:0;
		li{
			font-family:$medium-font-name;
			font-size:.8em;
			margin-right:$baseline/2;
				// &.sale{
				// 	&:after{
				// 		content: "SALE";
				// 		float: right;
				// 		position: relative;
				// 		margin-bottom: -32px;
				// 		bottom: 63px;
				// 		right: 1px;
				// 		color: $green-color;
				// 		font-size: .7em;
				// 		font-family: $extra-bold-font-name;
				// 		padding: 0 10px;
				// 		line-height: 15px;
				// 	}
				// }
			a{
				padding-bottom:0;
				margin-bottom:$baseline;
				display:block;
				color:$text-color;
				@include transition-duration(.1s);
				&:hover, &:focus{
					color:$link-color;
					text-decoration:none;
				}
			}
			&.active{
				.dropdown-menu{
					li{
						a{
							color:$text-color;
							border-bottom:none;
						}
					}
				}
				a{
					color:$link-color;
					border-bottom:2px solid $link-color;
				}
			}
		}
		.dropdown-menu{
			.dropdown-toggle{
				padding:0;
				margin:0;
				border-bottom:none;
			}
			li{
				margin-right:0;
				font-size:.9em;
				font-family:$medium-font-name;
				a{
					padding-bottom:5px;
					padding-top:5px;
					margin-bottom:0px;
				}
			}
				position:absolute;
				left:auto;
				top: 48px;
				border-radius: 0;
				border-top: 0;
		}
	}
	.btn{
		padding:$baseline/4 $baseline;
	}
}


#hidden-menu{
	position:fixed;
	background-color:white;
	float: left;
	width:100%;
	z-index: 99;
	display:none;
	padding-top:15px;
	.dropdown-menu{
		top: 64px;
	}
}