;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"subtitle": "Class Overview"

;;;

=partial"/public/shared/page-head-small"


%section
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
%section
	.container
		.row
			.col-sm-6
				%h2
					Attend Live PMP Classes Online
				%p
					So Effective, We Guarantee You Will Pass the PMP Exam.Our Live Virtual PMP classes are taught by expert instructors, who also bring their real-world and relevant experience to the students. Now offering evening and weekend classes! 
				%ul.list-default
					%li
						Taught live by veteran PMP training instructors
					%li
						Save time and money by training without travel
					%li
						Interact with peers and expert instructors
					%li
						Attend this live class from any Internet-connected computer
					%li
						Now offering night, weekday, and weekend classes
			.col-sm-1
			.col-sm-5
				%a.fb-video{:href=>"http://s3.amazonaws.com/ssilogic-video/flowplayer-3.2.7.swf"}
					=image_tag'video_thumb.png' , :class=>"img-responsive img-thumbnail"
				%blockquote
					"I passed the PMI PMP exam yesterday. .. The material from your class and the extra tools that came with the course definitely prepared me for the exam." 
					%footer
						Jim Cavanaugh, PMP, US
				%a.btn.btn-default{href:"#"}
					Schedule & Pricing
.container
	%hr.no-margin-top.no-margin-bottom
%section
	.container
		.row
			.col-sm-6
				%h2
					PMP Class Curriculum
				%p
					Built around accelerated learning techniques and carefully designed learning materials, this intense, focused PMP training delivers a passing PMP® Exam score on your very first try. 
					%strong
						You will be prepared to take the PMP exam, following our carefully designed class curriculum:
				#accordion.panel-group
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
									Project Human Resources Management
						#collapseOne.panel-collapse.collapse
							.panel-body
								%p
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
									Collapsible Group Item #2
						#collapseTwo.panel-collapse.collapse
							.panel-body
								%p
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
									Collapsible Group Item #2
						#collapseThree.panel-collapse.collapse
							.panel-body
								%p
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			.col-sm-1
			.col-sm-5
				=image_tag'public/icon_pencil.png' , :class=>"img-responsive margin-auto double-margin-bottom"
				%p
					%strong
						Included with every class:
				%ul.list-default
					%li
						Class taught by PMI R.E.P.
					%li
						All study materials
					%li
						Online practice exam portal
					%li
						35 PMI Contact Hours and PDU Credits
					%li
						One-on-one access to instructor
					%li
						PMI exam application assistance
					%li
						100% exam pass guarantee
				%a.btn.btn-default{href:"#"}
					Schedule & Pricing
.container
	%hr.no-margin-top.no-margin-bottom
%section
	.container
		.row
			.col-sm-12
				%h2
					About the Instructors
		.row
			.col-sm-6
				.padded.no-padding-left
					%h3
						Robert "Bob" Vuolo (MS, PMP, ITIL)
					%hr.hr-flourish
					%p
						Since 1993, Bob has focused on training and course development in project management. He has presented more than 350 PM seminars to some 6,500 mid and upper-level managers at companies like AT&T, Northrop Grumman, Military Sealift Command, DHL, Verizon, Sprint, Motorola, the State Department, and the Jordanian Army. Since 2004, his focus has been almost exclusively on preparing business and government professionals for the PMP examination
			.col-sm-6
				.padded.no-padding-left
					%h3
						Robert "Bob" Vuolo (MS, PMP, ITIL)
					%hr.hr-flourish
					%p
						Since 1993, Bob has focused on training and course development in project management. He has presented more than 350 PM seminars to some 6,500 mid and upper-level managers at companies like AT&T, Northrop Grumman, Military Sealift Command, DHL, Verizon, Sprint, Motorola, the State Department, and the Jordanian Army. Since 2004, his focus has been almost exclusively on preparing business and government professionals for the PMP examination
		.row
			.col-sm-6
				.padded.no-padding-left
					%h3
						Robert "Bob" Vuolo (MS, PMP, ITIL)
					%hr.hr-flourish
					%p
						Since 1993, Bob has focused on training and course development in project management. He has presented more than 350 PM seminars to some 6,500 mid and upper-level managers at companies like AT&T, Northrop Grumman, Military Sealift Command, DHL, Verizon, Sprint, Motorola, the State Department, and the Jordanian Army. Since 2004, his focus has been almost exclusively on preparing business and government professionals for the PMP examination
			.col-sm-6
				.padded.no-padding-left
					=image_tag'public/icon_instructor.png' , :class=>"img-responsive margin-auto margin-top margin-bottom"
					.text-center
						%a.btn.btn-default{href:"#"}
							Schedule & Pricing

				


                           