;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"subtitle": "Class Overview"

;;;

=partial"/public/shared/page-head-small"


%section
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
%section
	.container
		.row
			.col-sm-6
				%h2
					Attend Live PMP Classes Online
				%p
					So Effective, We Guarantee You Will Pass the PMP Exam.Our Live Virtual PMP classes are taught by expert instructors, who also bring their real-world and relevant experience to the students. Now offering evening and weekend classes! 
				%ul.list-default
					%li
						Taught live by veteran PMP training instructors
					%li
						Save time and money by training without travel
					%li
						Interact with peers and expert instructors
					%li
						Attend this live class from any Internet-connected computer
					%li
						Now offering night, weekday, and weekend classes
				%p
					%strong
						Contact Hours and PDUs Included with Class
				%p
					%strong
						Current PMP Exam Pass Rate
					97% First Time Pass

			.col-sm-1
			.col-sm-5
				%a.fb-video{:href=>"http://s3.amazonaws.com/ssilogic-video/flowplayer-3.2.7.swf"}
					=image_tag'video_thumb.png' , :class=>"img-responsive img-thumbnail"
				%blockquote
					"I passed the PMI PMP exam yesterday. .. The material from your class and the extra tools that came with the course definitely prepared me for the exam." 
					%footer
						Jim Cavanaugh, PMP, US
				%a.btn.btn-default{href:"/pblic/live-pmp/schedule-and-pricing"}
					Schedule & Pricing
.container
	%hr.no-margin-top.no-margin-bottom
%section
	.container
		.row
			%h6.text-center
				A PMP Class Curriculum Focused on Passing the Exam
			.col-sm-6
				%h2
					PMP Class Curriculum
				%p
					Built around accelerated learning techniques and carefully designed learning materials, this intense, focused PMP training delivers a passing PMP® Exam score on your very first try. 
					%strong
						You will be prepared to take the PMP exam, following our carefully designed class curriculum:
				#accordion.panel-group
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
									Introduction and PMP Exam overview
						#collapseOne.panel-collapse.collapse
							.panel-body
								%p
									Learn About the PMI Application Process
									%br
									Identify exam preparation key methodologies
									%br
									The Exam Itself
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
									The Project Management Framework
						#collapseTwo.panel-collapse.collapse
							.panel-body
								%p
									Define what a project is and what project management is
									%br
									Organization Influences on Project Management
									%br
									How to define a project life cycle
									%br
									Specify Influences of Organizational Structures on Project Management
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
									The Project Management Process Groups
						#collapseThree.panel-collapse.collapse
							.panel-body
								%p
									Initiating Process Group
									%br
									Planning Process Group
									%br
									Executing Process Group
									%br
									Monitoring and Controlling Process Group
									%br
									Closing Process Group
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
									Project Integration Management
						#collapseFour.panel-collapse.collapse
							.panel-body
								%p
									Develop Project Charter
									%br
									Project Selection
									%br
									Project Statement of Work 
									%br
									Develop Project Management Plan 
									%br
									Direct and Manage Project Work 
									%br
									Monitor and Control Project Work 
									%br
									Perform Integrated Change Control 
									%br
									Close Project or Phase 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
									Project Scope Management
						#collapseFive.panel-collapse.collapse
							.panel-body
								%p
									Scope Management Plan
									%br
									Collect Requirements 
									%br
									Define Scope 
									%br
									Create Work Breakdown Structure “WBS” 
									%br
									Validate Scope 
									%br
									Control Scope 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSix"}
									Project Time Management
						#collapseSix.panel-collapse.collapse
							.panel-body
								%p
									Schedule Management Plan 
									%br
									Define Activities 
									%br
									Sequence Activities 
									%br
									Estimating Activity Resources 
									%br
									Estimating Activity Durations 
									%br
									Develop Schedule 
									%br
									Control Schedule 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSeven"}
									Project Cost Management
						#collapseSeven.panel-collapse.collapse
							.panel-body
								%p
									Cost Management Plan 
									%br
									Estimate Costs
									%br
									Determine Budget 
									%br
									Control Costs 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseEight"}
									Project Quality Management
						#collapseEight.panel-collapse.collapse
							.panel-body
								%p
							Plan Quality 
							%br
							Perform Quality Assurance 
							%br
							Perform Quality Control 
							%br
							Complete Exercises
							%br
							Complete Knowledge Area Test
							%br
							Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseNine"}
									Project Human Resources Management
						#collapseNine.panel-collapse.collapse
							.panel-body
								%p
							Roles and Responsibilities 
							%br
							Human Resource Responsibilities for Project Managers
							%br
							Develop Human Resource Plan 
							%br
							Acquire Project Team 
							%br
							Develop Project Team 
							%br
							Manage Project Team 
							%br
							Complete Exercises
							%br
							Complete Knowledge Area Test
							%br
							Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTen"}
									Project Communication Management
						#collapseTen.panel-collapse.collapse
							.panel-body
								%p
									Plan Communications 
									%br
									Manage Communications 
									%br
									Control Communications 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 

					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseEleven"}
									Project Risk Management
						#collapseEleven.panel-collapse.collapse
							.panel-body
								%p
									Inputs to and Outputs of Risk Management
									%br
									Risk Management Process 
									%br
									Plan Risk Management 
									%br
									Identify Risks 
									%br
									Perform Qualitative Risk Analysis 
									%br
									Perform Quantitative Risk Analysis 
									%br
									Plan Risk Responses 
									%br
									Control Risks 
									%br
									Common Risk Management Errors
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwelve"}
									Project Procurement Management
						#collapseTwelve.panel-collapse.collapse
							.panel-body
								%p
									The Procurement Management Process 
									%br
									Plan Procurements 
									%br
									Conduct Procurement 
									%br
									Control Procurements 
									%br
									Close Procurement 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThirteen"}
									Project Stakeholder Management
						#collapseThirteen.panel-collapse.collapse
							.panel-body
								%p
									Identify Stakeholders 
									%br
									Plan Stakeholder Management 
									%br
									Manage Stakeholder Engagement 
									%br
									Control Stakeholder Engagement 
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFourteen"}
									The Project Management Process Groups
						#collapseFourteen.panel-collapse.collapse
							.panel-body
								%p
									Initiating Process Group
									%br
									Planning Process Group
									%br
									Executing Process Group
									%br
									Monitoring and Controlling Process Group
									%br
									Closing Process Group
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
					.panel.panel-default
						.panel-heading
							%h4.panel-title
								%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFifteen"}
									The Project Management Process Groups
						#collapseFifteen.panel-collapse.collapse
							.panel-body
								%p
									Initiating Process Group
									%br
									Planning Process Group
									%br
									Executing Process Group
									%br
									Monitoring and Controlling Process Group
									%br
									Closing Process Group
									%br
									Complete Exercises
									%br
									Complete Knowledge Area Test
									%br
									Complete PMP Mock Exam (LITE) 
			.col-sm-1
			.col-sm-5
				=image_tag'public/icon_pencil.png' , :class=>"img-responsive margin-auto double-margin-bottom"
				%p
					%strong
						Included with every class:
				%ul.list-default
					%li
						Class taught by PMI R.E.P.
					%li
						All study materials
					%li
						Online practice exam portal
					%li
						35 PMI Contact Hours and PDU Credits
					%li
						One-on-one access to instructor
					%li
						PMI exam application assistance
					%li
						100% exam pass guarantee
				%a.btn.btn-default{href:"/pblic/live-pmp/schedule-and-pricing"}
					Schedule & Pricing
.container
	%hr.no-margin-top.no-margin-bottom
%section
	.container
		.row
			.col-sm-12
				%h2
					About the Instructors
		.row
			.col-sm-6
				.padded.no-padding-left
					%h3
						Robert "Bob" Vuolo (MS, PMP, ITIL)
					%hr.hr-flourish
					%p
						Since 1993, Bob has focused on training and course development in project management. He has presented more than 350 PM seminars to some 6,500 mid and upper-level managers at companies like AT&T, Northrop Grumman, Military Sealift Command, DHL, Verizon, Sprint, Motorola, the State Department, and the Jordanian Army. Since 2004, his focus has been almost exclusively on preparing business and government professionals for the PMP examination
			.col-sm-6
				.padded.no-padding-left
					%h3
						Robert "Bob" Vuolo (MS, PMP, ITIL)
					%hr.hr-flourish
					%p
						Since 1993, Bob has focused on training and course development in project management. He has presented more than 350 PM seminars to some 6,500 mid and upper-level managers at companies like AT&T, Northrop Grumman, Military Sealift Command, DHL, Verizon, Sprint, Motorola, the State Department, and the Jordanian Army. Since 2004, his focus has been almost exclusively on preparing business and government professionals for the PMP examination
		.row
			.col-sm-6
				.padded.no-padding-left
					%h3
						Robert "Bob" Vuolo (MS, PMP, ITIL)
					%hr.hr-flourish
					%p
						Since 1993, Bob has focused on training and course development in project management. He has presented more than 350 PM seminars to some 6,500 mid and upper-level managers at companies like AT&T, Northrop Grumman, Military Sealift Command, DHL, Verizon, Sprint, Motorola, the State Department, and the Jordanian Army. Since 2004, his focus has been almost exclusively on preparing business and government professionals for the PMP examination
			.col-sm-6
				.padded.no-padding-left
					=image_tag'public/icon_instructor.png' , :class=>"img-responsive margin-auto margin-top margin-bottom"
					.text-center
						%a.btn.btn-default{href:"/pblic/live-pmp/schedule-and-pricing"}
							Schedule & Pricing

				


                           