;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"subtitle": "Class Overview"

;;;

=partial"/public/shared/page-head-small"


%section
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
%section
	.container
		.row
			.col-sm-7
				%h2
					Attend Live PMP Classes Online
				%p
					So Effective, We Guarantee You Will Pass the PMP Exam.Our Live Virtual PMP classes are taught by expert instructors, who also bring their real-world and relevant experience to the students. Now offering evening and weekend classes! 
				%ul.list-default
					%li
						Taught live by veteran PMP training instructors
					%li
						Save time and money by training without travel
					%li
						Interact with peers and expert instructors
					%li
						Attend this live class from any Internet-connected computer
					%li
						Now offering night, weekday, and weekend classes
			.col-sm-5
				%a.fb-video{:href=>"http://s3.amazonaws.com/ssilogic-video/flowplayer-3.2.7.swf"}
					=image_tag'video_thumb.png' , :class=>"img-responsive img-thumbnail"


                           