;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"subtitle": "Student Testimonials"

;;;

=partial"/public/shared/page-head-small"


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"


                           