.main-nav-container
	%nav.pull-left
		%ul.list-inline.main-links
			%li{:class => (current_page.data.activeclass === "practice") ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/practice-pmp"}
					PMP Practice Exams
					=partial "/public/header/pmp_practice_dropdown"
								

			%li.sale{:class => (current_page.data.activeclass === "live") ? "active" : ""}
				%a{:href=>"/public/live-pmp"}
					Live PMP Classes
					=partial "/public/header/live_pmp_dropdown"


			%li{:class => (current_page.data.activeclass === "bootcamp") ? "active" : ""}
				%a{:href=>"/public/bootcamp"}
					On-Demand PMP Course
					=partial "/public/header/demand_dropdown"

			%li{:class => (current_page.data.activeclass === "acp-training") ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/practice-pmp"}
					PMI ACP Training
					=partial "/public/header/acp_training_dropdown"

			%li{:class => (current_page.data.activeclass === "acp-training") ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/practice-pmp"}
					Scrum
					=partial "/public/header/scrum_dropdown"
 
			%li{:class => (current_page.data.activeclass === "about" ) ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/about"}
					Corporate
					=partial "/public/header/corporate_dropdown"


	%nav.pull-right.checkout-btn-wrapper
		%a.btn.btn-primary{:href=>"/public/checkout", :class => (current_page.data.activeclass === "checkout" ) ? "active" : ""}
			%i.fa.fa-shopping-cart 
			Cart