%table.table.table-striped.table-responsive
  %thead
    %tr
      %th 
        %h5.text-color
          Live Rank
      %th 
        %h5.text-color
          PMBOK Guidttte Knowledge Area 
      %th 
        %h5.text-color
          Community Average
  %tbody
    %tr
      %td.text-center 1
      %td Project Procurement Management
      %td.text-center 82.69%
    %tr
      %td.text-center 2
      %td Project Time Management
      %td.text-center 82.69%
    %tr
      %td.text-center 3
      %td Project Human Resource Management
      %td.text-center 82.69%
    %tr
      %td.text-center 4
      %td Prof. Responsibility
      %td.text-center 82.69%
    %tr
      %td.text-center 5
      %td Project Cost Management
      %td.text-center 82.69%
	