/ {:style=>"background-image:url(/images/slider/slide-1-bg.png);"}
#home-slider.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#home-slider"}
    %li{"data-slide-to" => "1", "data-target" => "#home-slider"}
    %li{"data-slide-to" => "2", "data-target" => "#home-slider"}
    %li{"data-slide-to" => "3", "data-target" => "#home-slider"}
    %li.left{"data-slide"=>"prev","data-target" => "#home-slider"}
    %li.right{"data-slide"=>"next","data-target" => "#home-slider"}
  .carousel-inner
    .item.active{:style=>"background-image:url(/images/slider/slide-4-bg.png);"}
      .container
        .row
          .col-md-12
            %h1
              PMP Job Openings  
            %ul.margin-bottom
              %li
                Praesent eget orci eu arcu lobortis dictum at sed metus. Maecenas vitae convallis ante.
              %li
                Praesent eget orci eu arcu lobortis dictum at sed metus. Maecenas vitae convallis ante.
              %li
                Praesent eget orci eu arcu lobortis dictum at sed metus. Maecenas vitae convallis ante.
              %li
                Praesent eget orci eu arcu lobortis dictum at sed metus. Maecenas vitae convallis ante.
            .btns
              %a.btn.btn-default.btn-lg.half-margin-bottom{:href=>"#"}
                POST A JOB NOW
              %a.btn.btn-wire.btn-lg.half-margin-bottom{:href=>"#"}
                LEARN MORE
                %i.fa.fa-arrow-circle-right
    .item{:style=>"background-image:url(/images/slider/slide-1-bg.png);"}
      .container
        .row
          .col-md-12
            %h1
              Live PMP Classes Taught 
              %br
              Online by Veteran Instructors 
            %ul.margin-bottom
              %li
                Attend a live instructor course from your personal  computer
              %li
                Flexible times and dates to meet busy work schedules
              %li
                35 Contact hours, PDUs, all course materials, and software included in price
              %li
                Less than half the cost of comparable classroom courses
              %li
                %strong
                  Starting at $1299.00 Save $405.00 Now
            .btns
              %a.btn.btn-default.btn-lg.half-margin-bottom{:href=>"/public/live-pmp"}
                CLASS OVERVIEW
              %a.btn.btn-wire.btn-lg.half-margin-bottom{:href=>"/public/live-pmp/schedule-and-pricing"}
                SCHEDULE & PRICING 
                %i.fa.fa-arrow-circle-right
            
    .item{:style=>"background-image:url(/images/slider/slide-2-bg.png);"}
      .container
        .row
          .col-md-12
            %h1
              Still the Most Trusted 
              %br
              PMP Practice Exams 
              %span.extra-bold-font-name
                $59.00 
            %ul.margin-bottom
              %li
                Over 1,000 realistic PMP exam questions with more than 20 PMP mock exams
              %li
                Detailed explanations for every PMP exam question clarify correct answers.
              %li
                Professional: Prepare for your PMP exam with practice exams created by experts.
              %li
                All content based on PMBOK® Guide - Fifth Edition PMP Exam
              %li
                %strong
                  90-Day Access to Professional PMP Exams - Access Instantly
            .btns
              %a.btn.btn-default.btn-lg.half-margin-bottom{:href=>"/public/checkout"}
                add to cart
              %a.btn.btn-wire.btn-lg.half-margin-bottom{:href=>"/public/practice-pmp"}
                learn more
              %a.btn.btn-wire.btn-lg.half-margin-bottom{:href=>"javascript:void(0);", :onclick=>"javascript:window.open('./public/uiExamDemoOverview.aspx','mywindow','width=800,height=600,menubar=no,location=no,resizable=yes, scrollbars=yes')"}
                try a demo
    .item{:style=>"background-image:url(/images/slider/slide-3-bg.png);"}
      .container
        .row
          .col-md-12
            %h1
              The 
              Most Effective 
              %br
              On-Demand PMP Course Available 
            %ul.margin-bottom
              %li
                On-demand PMP course to prepare and pass your PMP Exam
              %li
                Self-paced, interactive lessons in studio quality
              %li
                Practice tests, Mindmap study kits, PMI application guide and much more
              %li
                Includes 35 PMI contact hours required to take the PMP exam
              %li
                %strong
                  90-Day Access for Only $599.00 Save $250.00 Now
            .btns
              %a.btn.btn-default.btn-lg.half-margin-bottom{:href=>"/public/checkout"}
                Register now
              %a.btn.btn-wire.btn-lg.half-margin-bottom{:href=>"/public/bootcamp"}
                learn more
                %i.fa.fa-arrow-circle-right
   

            