%section.invert-section
	.container
		.row
			.col-lg-12
				%h2.no-margin-bottom.pull-left
					=data.page.title
				%h6.no-margin-bottom.pull-right.hidden-xs.half-margin-top.extra-bold-font-name
					=data.page.right_title