.row.border-bottom.padding-top.padding-bottom
	.col-sm-1.hidden-xs
		=image_tag'icons/icon_test_show.png', :class=>"img-responsive margin-top"
	.col-sm-6.col-xs-12
		%p.quarter-margin-bottom.bold-font-name
			%a{:href=>"#"}
				Custom Test created August 29 - Project Cost Management (5 questions)
		%p.half-margin-bottom
			This custom test is comprised of questions from Project Cost Management. There are 5 total questions selected for this test. This test was originally created on August 29. 
	.col-sm-2
		%p.bold-font-name.no-margin-bottom.text-success.text-center.text-left-sm{:style=>"margin-top:18px;"}
			%i.fa.fa-check-circle
			Complete
	.col-sm-3
		.btn-group.half-margin-top.pull-right.pull-left-xs
			%button.btn.btn-primary{:type => "button"} 
				Take Test
			%button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
				%span.caret
			%ul.dropdown-menu{:role => "menu"}
				%li
					%a{:href => "#"} 
						View Answer Key
	.clearfix