;;;

"layout": "public",
"title": "FAQ's",
"right_title": "", 
"activeclass": "about",
"subtitle": "Contact"

;;;

=partial"/public/shared/page-head-small"


%section
	.container
		.row
			.col-md-7
				%h2
					Questions or Feedback? Contact Us at Anytime
				%p
					%strong
						Questions or feedback about PMTraining
				%ul.list-default
					%li
						Interested in a corporate class, or volume purchase of our training tools?
					%li
						Have a question about one of our courseware products?
					%li
						Would you like to license or re-sell our courseware software?
					%li
						For any and all inquiries, please use the form below.
				%p
					%a.btn.btn-primary{:href=>""}
						Forgot your password?
					%a.btn.btn-primary{:href=>"/publix/faqs"}
						read our faqs
			.col-md-5 
				=image_tag"public/practice/ui_show_1.png", :class=>"img-responsive margin-auto double-margin-bottom" 
				.text-center
					%a.btn.btn-primary.quarter-margin-bottom{:href=>"/public/checkout"}
						Register now for pmp practice exams  
					%p.bold-font-name
						%small
							%em
								%i.fa.fa-plus{:style=>"top:2px;"}
								Questions updated June 19, 2014
			