;;;

"layout": "public",
"title": "FAQ's",
"right_title": "", 
"activeclass": "about",
"subtitle": "Contact"

;;;

=partial"/public/shared/page-head-small"


%section
	.container
		.row
			.col-md-7
				%h2
					Frequently Asked Questions
				%p
					%strong
						Questions or feedback about PMTraining
				%ul.nav-sidebar.margin-bottom
					%li
						%a{:href=>""}
							Questions About PMTraining
					%li
						%a{:href=>""}
							Questions About PMTraining
				%p
					%a.btn.btn-primary{:href=>""}
						Forgot Your Password? 
					%a.btn.btn-primary{:href=>"/public/about/contact"}
						Contact us directly
			.col-md-5 
				=image_tag"public/practice/ui_show_1.png", :class=>"img-responsive margin-auto double-margin-bottom" 
		%hr
			