;;;
"layout": "public",
"title": "Home", 
"activeclass": "home"

	
;;;



%section.invert-section.no-padding-top.no-padding-top.no-padding-bottom
	=partial'/public/home/slider'
%section
	.container
		.row
			.col-lg-12
				.text-center
					%h6.text-muted
						TRUSTED BY SOME OF THE WORLD'S SMARTEST COMPANIES...
					=image_tag'logos.png', :class=>"img-responsive margin-auto"
.container
	%hr
%section
	.container
		.row
			.col-sm-5
				.double-margin-bottom
					%h2.margin-top.no-margin-top-sm
						%strong
							Live 
						PMP Exam Community Performance
					%p
						To the right is a live calculation of the top 5 PMP process areas based on 370,653 PMP practice exams taken by PMTraining exam prep students.
			.col-sm-1
			.col-sm-6
				=partial'/public/home/preformance-table'
.container
	%hr
%section
	.container
		.row
			.col-sm-12
				.text-center
					%h2
						PMP Test Simulation Questions
					%p
						Community preformance by subject area
		.row
			.col-sm-1
			.col-sm-10
				=partial'/public/home/preformance-chart'
			.col-sm-1

=partial'/public/shared/get-started'




